<{includeq file='db:reader_header.html'}>

<!-- Single feed view -->

<{if $reader_feed_select_box}>
	<div><{$reader_feed_select_box}></div>
<{/if}>

<{if $reader_feed}>
<div class="reader-feed-container">
	
	<{if $reader_feed.image_url}>
		<div class="<{$reader_logo_position}>">
			<a href="<{$reader_feed.permalink}>">
				<img width="<{$reader_feed.image_width}>" src="<{$reader_feed.image_url}>" 
					 alt="<{$reader_feed.title}>" title="<{$reader_feed.image_title}>" />
			</a>
		</div>
	<{/if}>
	
	<h1><a href="<{$reader_feed.subscribe_feed}>"><img src="<{$smarty.const.READER_IMAGES_URL}>rss.png" alt="RSS" title="<{$smarty.const._CO_READER_SUBSCRIBE_TO}><{$reader_feed.title}>" /></a> <{$reader_feed.title}></h1>
	<div><{$reader_feed.description}></div>
	<div class="reader_feed_container">
		<h2><{$smarty.const._CO_READER_LATEST_POSTS}></h2>
		<{foreach item=item from=$reader_feed.items}>
			<h3><a href="<{$item.link}>"><{$item.title}></a></h3>
			<div class="reader_separator">
				<{if $item.author}><{$item.author}><{/if}><{if $item.date}> <{$smarty.const._CO_READER_PUBLISHED_ON}><{$item.date}><{/if}>
				<{if $item.enclosure_link}>
					<{if $item.author || $item.date && $item.enclosure_link}> | <{/if}><a href="<{$item.enclosure_link}>"><{if $item.enclosure_type}><img src="<{$item.enclosure_image}>" alt="<{$item.enclosure_type}>" title="<{$item.enclosure_type}>" /><{/if}><{if $item.enclosure_size}> <{$item.enclosure_size}> MB<{/if}></a>
				<{/if}></div>
			<div><{$item.description}></div>
		<{/foreach}>
	</div>
</div>
<{/if}>

<!-- Feed index view -->

<{if $reader_feeds}>

	<h1><{$smarty.const._CO_READER_NEWSFEEDS}></h1>
	<{if $reader_navbar}>
		<div><{$reader_navbar}></div>
	<{/if}>
	
	<{foreach item=feed from=$reader_feeds}>
		<div class="reader_feed_container">
			<{if $feed.image_url}>
				<div class="<{$reader_logo_position}>">
					<a href="<{$feed.itemUrl}>">
						<img width="<{$feed.image_width}>" src="<{$feed.image_url}>" alt="<{$feed.title}>" title="<{$feed.image_title}>" />
					</a>
				</div>
			<{/if}>
			<h2><a href="<{$feed.subscribe_feed}>"><img src="<{$smarty.const.READER_IMAGES_URL}>rss.png" alt="RSS" title="<{$smarty.const._CO_READER_SUBSCRIBE_TO}><{$feed.title}>" /></a> <a href="<{$feed.itemUrl}>"><{$feed.title}></a></h2>
			<{if $feed.author || $feed.date}>
			<div class="reader_separator"><{if $feed.author}><{$feed.author}><{/if}><{if $feed.author && $feed.date}> | <{/if}><{if $feed.date}><{$feed.date}><{/if}>
			</div>
			<{/if}>
			<{if $feed.description}>
				<div><{$feed.description}></div>
			<{/if}>
		</div>
	<{/foreach}>
<{/if}>

<{if $reader_navbar}>
	<div class="reader_clear_both"><{$reader_navbar}></div>
<{/if}>

<{includeq file='db:reader_footer.html'}>